@using TomeKeeper.Models;
@using TomeKeeper.ViewModels;
@using TomeKeeper.Services;
@inject IAPIService _ApiService;
@inject ISpellListItemsCacheService SpellListItemsCacheService;

@inject DragDropService DragDropService;
@inject SpellDetailsCacheService SpellDetailsCacheService;
@inject SavedSpellsService SavedSpellsService;

<button @onclick="@(() => OnGetSpellDetailsClick(SpellIndex))"
        draggable="true"
        @ondragstart="HandleDragStart"
        @ondragend="HandleDragEnd"
    class="invisible-button scroll-button-container">
    <img src="images/rolled-up-scroll.svg" alt="Clickable scroll icon" class="subtle-shadow" />
    <span class="@_textCssClass">
        @SpellName
    </span>
</button>

@code {
    [Parameter]
    public string SpellIndex { get; set; } = string.Empty;

    [Parameter]
    public string SpellName { get; set; } = string.Empty;

    [Parameter]
    public string SelectedSpellIndex
    {
        get
        {
            return _selectedSpellIndex;
        }
        set
        {
            _selectedSpellIndex = value;
        }
    }


    [Parameter]
    public EventCallback<string> OnSpellSelected { get; set; }

    [Parameter]
    public EventCallback<SpellDetailsViewModel> OnSpellDetailsSelected { get; set; } = new();

    // These variables are unique to each instance of this component
    private string _selectedSpellIndex { get; set; } = string.Empty;
    private SpellDetails _selectedSpellDetails { get; set; } = new();
    private SpellDetailsViewModel _spellDetailsViewModel { get; set; } = new();

    private string _textCssClass = "scroll-text";
    private bool _isClicked = false;
    private bool _isDragging = false;

    private async Task OnGetSpellDetailsClick(string spellIndex)
    {
        _isClicked = true;

        if (_selectedSpellIndex == spellIndex)
        {
            _selectedSpellIndex = string.Empty;
            _selectedSpellDetails = new();
            await CallBackToParent();

            _isClicked = false;
        }
        else
        {
            await GetSpellDetailsViewModelFromIndex(spellIndex);
        }

        UpdateTextClass();
    }

    private async Task CallBackToParent()
    {
        await OnSpellSelected.InvokeAsync(_selectedSpellIndex);
        await OnSpellDetailsSelected.InvokeAsync(_spellDetailsViewModel);
    }

    private async Task GetSpellDetailsViewModelFromIndex(string spellIndex)
    {
        if (SpellDetailsCacheService.TryGetSpell(spellIndex, out var cachedSpell) && cachedSpell != null)
        {
            _spellDetailsViewModel = cachedSpell;
            _selectedSpellIndex = spellIndex;
        }
        else
        {
            var spellDetails = await _ApiService.GetSpellDetails(spellIndex);
            _spellDetailsViewModel = new SpellDetailsViewModel(spellDetails);
            SpellDetailsCacheService.AddSpell(_spellDetailsViewModel);
            _selectedSpellIndex = spellIndex;
        }

        await CallBackToParent();
    }

    private void HandleDragStart()
    {
        _isDragging = true;
        UpdateTextClass();
        DragDropService.Payload = SpellIndex;
    }

    private void HandleDragEnd()
    {
        _isDragging = false;
        _isClicked = false;
        UpdateTextClass();
        DragDropService.Payload = null;
    }

    private void UpdateTextClass()
    {
        if(_isDragging)
        {
            _textCssClass = "scroll-text glowing-text";
        }
        else if(_isClicked)
        {
            _textCssClass = "scroll-text glowing-text";
        }
        else
        {
            _textCssClass = "scroll-text";
        }
    }

}