@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider Theme="_customTheme" />

@code {
    private MudTheme _customTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Background = "#E9D9B6", //Parchment Light
            AppbarBackground = "#3e3e42",
            Surface = "#ffffff"
        }
    };
}