@page "/"
@using TomeKeeper.Components
@using TomeKeeper.Models
@using TomeKeeper.ViewModels
@using TomeKeeper.Services
@using TomeKeeper.Enums;
@rendermode InteractiveWebAssembly
@inject IAPIService _ApiService
@inject ITextFormatterService _TextFormatterService
@inject ISpellListItemsCacheService SpellListItemsCacheService;
@inject DragDropService DragDropService;
@inject SpellDetailsCacheService SpellDetailsCacheService;
@inject SavedSpellsService SavedSpellsService;

<PageTitle>All Spells</PageTitle>

<div class="page-banner">
    <h1>The Tome of all Spells</h1>
    <h2>Drag and Drop any Spell onto "My Spellbook" to add it to your personal tome!</h2>
</div>

@if (SpellListItemsCacheService.CachedSpellList.Any())
{
    _spellList = SpellListItemsCacheService.CachedSpellList;
}

@if (_spellList.Any())
{
    <MudExpansionPanels
        MultiExpansion="true">
        <Virtualize Items="@_spellList" Context="spell" ItemSize="48">
            <ItemContent>
                <ExpandableScroll SpellListItem="spell"
                    ScrollMode="@ExpandableScrollMode.All"/>

            </ItemContent>
        </Virtualize>
    </MudExpansionPanels>
}
else
{
    <p>Click "Reveal Spells" to divine the list of spells.</p>
}

@code {
    private IList<SpellListItem> _spellList = new List<SpellListItem>();
    private string _selectedSpellIndex { get; set; } = string.Empty;

    private bool _isLoadingDetails { get; set; } = false;
    private bool _isActive { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (!_spellList.Any())
        {
            await RefreshSpellList();

        }

        await SavedSpellsService.InitializeSavedSpellsAsync();
    }

    #region Spell Loading
    //TODO: move to viewmodel
    private async Task OnRevealSpellsClick()
    {
        await RefreshSpellList();
        // Blazor automatically re-renders the component here, updating the UI
    }

    //TODO: move to viewmodel
    private async Task RefreshSpellList()
    {
        var spellList = await _ApiService.GetSpellsList();
        _spellList = spellList;
        SpellListItemsCacheService.CachedSpellList = spellList;
    }
    #endregion

}