@page "/"
@using TomeKeeper.Components
@using TomeKeeper.Models
@using TomeKeeper.ViewModels
@using TomeKeeper.Services
@using TomeKeeper.Enums;
@rendermode InteractiveWebAssembly
@inject IAPIService _ApiService
@inject ITextFormatterService _TextFormatterService
@inject ISpellListItemsCacheService SpellListItemsCacheService;
@inject DragDropService DragDropService;
@inject SpellDetailsCacheService SpellDetailsCacheService;
@inject SavedSpellsService SavedSpellsService;

<PageTitle>All Spells</PageTitle>

<div class="page-banner">
    <h1>The Tome of all Spells</h1>
</div>

@if (SpellListItemsCacheService.CachedSpellList.Any())
{
    _spellList = SpellListItemsCacheService.CachedSpellList;
}

@if (_spellList.Any())
{
    <MudAutocomplete T="SpellListItem"
                     Label="Search Spells"
                     Value="_selectedSpell"
                     ValueChanged="OnSpellSelected"
                     SearchFunc="@SearchSpells"
                     ToStringFunc="@(s => s?.Name)"
                     ResetValueOnEmptyText="true"
                     CoerceText="true"
                     Placeholder="Enter spell name..."
                     Variant="Variant.Outlined"
                     Class="mb-4" />

    <MudExpansionPanels MultiExpansion="true">
        <Virtualize Items="@_filteredSpellList" Context="spell" ItemSize="48">
            <ItemContent>
                <ExpandableScroll SpellListItem="spell"
                                  ScrollMode="@ExpandableScrollMode.All" />

            </ItemContent>
        </Virtualize>
    </MudExpansionPanels>
}
else
{
    <p>Click "Reveal Spells" to divine the list of spells.</p>
}

@code {
    private IList<SpellListItem> _spellList = new List<SpellListItem>();
    private string _selectedSpellIndex { get; set; } = string.Empty;

    private IList<SpellListItem> _filteredSpellList = new List<SpellListItem>(); // The list being rendered
    private SpellListItem _selectedSpell;

    private bool _isLoadingDetails { get; set; } = false;
    private bool _isActive { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (!_spellList.Any())
        {
            await RefreshSpellList();
        }

        _filteredSpellList = _spellList;

        await SavedSpellsService.InitializeSavedSpellsAsync();
    }

    #region Spell Loading
    //TODO: move to viewmodel
    private async Task OnRevealSpellsClick()
    {
        await RefreshSpellList();
        // Blazor automatically re-renders the component here, updating the UI
    }

    //TODO: move to viewmodel
    private async Task RefreshSpellList()
    {
        var spellList = await _ApiService.GetSpellsList();
        _spellList = spellList;
        SpellListItemsCacheService.CachedSpellList = spellList;
    }
    #endregion

    #region Spell Search
    private async Task<IEnumerable<SpellListItem>> SearchSpells(string value, CancellationToken cancellationToken)
    {
        if (string.IsNullOrEmpty(value))
            return _spellList;

        return _spellList.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void OnSpellSelected(SpellListItem selected)
    {
        _selectedSpell = selected;

        if(selected == null)
        {
            _filteredSpellList = _spellList;
        }
        else
        {
            _filteredSpellList = _spellList.Where(x => x.Index == selected.Index).ToList();
        }

    }

    #endregion

}