@page "/mytome"
@using TomeKeeper.Components
@using TomeKeeper.Enums
@using TomeKeeper.Models
@using TomeKeeper.ViewModels
@using TomeKeeper.Services
@inject IAPIService _ApiService
@inject ITextFormatterService _TextFormatterService
@inject SavedSpellsService SavedSpellsService;
@inject SpellDetailsCacheService SpellDetailsCacheService;

<PageTitle>My Spellbook</PageTitle>

<div class="page-banner">
    <h1>My Spellbook</h1>
</div>

@if (_spellList.Any())
{
    <MudAutocomplete T="SpellListItem"
                     Label="Search Spells"
                     Value="_selectedSpell"
                     ValueChanged="OnSpellSelected"
                     SearchFunc="@SearchSpells"
                     ToStringFunc="@(s => s?.Name)"
                     ResetValueOnEmptyText="true"
                     CoerceText="true"
                     Placeholder="Enter spell name..."
                     Variant="Variant.Outlined"
                     Class="mb-4" />

    <MudExpansionPanels
        MultiExpansion="true">
        <Virtualize Items="@_filteredSpellList" Context="spell" ItemSize="48">
            <ItemContent>
                <ExpandableScroll SpellListItem="spell"
                    @key="spell.Index"
                    ScrollMode="@ExpandableScrollMode.PersonalTome"
                    OnRemoved="HandleRemoved"/>
            </ItemContent>
        </Virtualize>
    </MudExpansionPanels>
}

@code {
    private IList<SpellListItem> _spellList = SavedSpellsService.SavedSpellListItems;
    private string _selectedSpellIndex { get; set; } = string.Empty;
    private SpellDetails _selectedSpellDetails { get; set; } = new();
    private SpellDetailsViewModel _spellDetailsViewModel { get; set; } = new();
    private bool _isLoadingDetails { get; set; } = false;

    private IList<SpellListItem> _filteredSpellList = new List<SpellListItem>();
    private SpellListItem _selectedSpell;

    protected override async Task OnInitializedAsync()
    {
        if (!_spellList.Any())
        {
            await SavedSpellsService.InitializeSavedSpellsAsync();
        }

        _filteredSpellList = _spellList;

    }
    private async Task OnGetSpellDetailsClick(string spellIndex)
    {
        if (_selectedSpellIndex == spellIndex)
        {
            _selectedSpellIndex = string.Empty;
            _selectedSpellDetails = new();
        }
        else
        {
            try
            {
                _isLoadingDetails = true;
                await GetSpellDetailsViewModelFromIndex(spellIndex);
            }
            finally
            {
                _isLoadingDetails = false;
            }

        }
    }

    private void HandleRemoved(SpellListItem spell)
    {
        _spellList.Remove(spell);
        StateHasChanged();
    }

    private async Task GetSpellDetailsViewModelFromIndex(string spellIndex)
    {
        if (SpellDetailsCacheService.CachedSpells.Any(x => x.Index == spellIndex))
        {
            _spellDetailsViewModel = SpellDetailsCacheService.CachedSpells.First(x => x.Index == spellIndex);
            _selectedSpellIndex = spellIndex;
            return;
        }

        _selectedSpellIndex = spellIndex;
        var spellDetails = await _ApiService.GetSpellDetails(spellIndex);
        _spellDetailsViewModel = new SpellDetailsViewModel(spellDetails);
        if (!SpellDetailsCacheService.CachedSpells.Contains(_spellDetailsViewModel))
        {
            SpellDetailsCacheService.CachedSpells.Add(_spellDetailsViewModel);
        }
    }

    #region Spell Search
    private async Task<IEnumerable<SpellListItem>> SearchSpells(string value, CancellationToken cancellationToken)
    {
        if (string.IsNullOrEmpty(value))
            return _spellList;

        return _spellList.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void OnSpellSelected(SpellListItem selected)
    {
        _selectedSpell = selected;

        if (selected == null)
        {
            _filteredSpellList = _spellList;
        }
        else
        {
            _filteredSpellList = _spellList.Where(x => x.Index == selected.Index).ToList();
        }

    }
    #endregion
}
